$primary-color: #66FCF1;
$accent-color: #46A29F;
$pink-color: #C5C6C8;
$gray-color: #202833;
$dark-color: #0B0C10;



body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
}

/* Navigation bar */
nav {
  background-color: #0B0C10;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "nav-list . search-form";
  
  
  form {
    grid-area: search-form;
    display: flex;
    float: right;
    height: 3rem;
    align-self: center;


    input {
      text-align: center;
      margin-right: 20px;
      border-style: solid;
      background-color: #C5C6C8;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 2rem;
      border-radius: 50px;
    }
  
    input:focus {
      background-color: white;
    }


    button {
      background-color: #C5C6C8;
      font-size: 2rem;
      font-family: 'Open Sans Condensed', sans-serif;
      transition: 1000ms;
      margin-right: 30px;
      border-radius: 50px;
      padding: 0 20px;
    }
  
    button:hover {
      background-color: #46A29F;
      transition: 500ms;
    }
  }

  ul {
    grid-area: nav-list;


    li {
      list-style-type: none;
      font-size: 2rem;
      display: inline;
      padding: 20px 30px;


      
      
      a {
        color: #66FCF1;
        font-family: 'Open Sans Condensed', sans-serif;
        text-decoration: none;
        transition: 1000ms;
      }
      a:hover {
        transition: 500ms;
        color: #46A29F;
      }
    }
  }
}


/* Dropdown Menu CSS */
.dropdown-container {
  position: relative;
}

.dropdown-content {
  position: absolute;
  width: 250px;
  left: 0;
  display: none;
  background-color: #202833;
  transition: 500ms;
  animation: ease-in-out;
  padding: 2rem;


  div {
    display: grid;
    grid-template-columns: 1fr 2fr .5fr;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  span {
    transition: 2000ms;
  }
}


.dropdown-container:hover .dropdown-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  justify-content: start;
  transition: 300ms;
  animation: ease-in;
}


.dropdown-content img {
  width: 8rem;
}

.dropdown-content a {
  font-size: 1.5rem;
  /* line-height: 200px; */
  text-align: center;
}

.dropdown-items a:hover + span{
  background-color: $pink-color;
  margin: 0 10px;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  transition: 800ms;
}


/* Header */
.header {
  background-image: url("../1.jpg");
  height: 600px;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 5em;
    margin: 0;
    padding: 100px 0 0 50px;
    color: white;
    text-shadow: 0px 10px 100px #0B0C10;
  }
}






/* Features */
.features {
  background-color: #0B0C10;
  margin: 0;
  padding: 50px 20px 100px;


  h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
  }
}


.widgets-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.widget {
  background-color: #C5C6C8;
  display: grid;
  padding: 0 20px;

  h3 {
    font-size: 30px;
    text-align: center;
  }

}



.feature-image {
  height: 200px;
  background-size: cover;
}

#feature-image-1 {
  background-image: url(../img/wid1.jpg)
}

#feature-image-2 {
  background-image: url(../img/wid2.jpg)
}

#feature-image-3 {
  background-image: url(../img/wid3.jpg)
}

#feature-image-4 {
  background-image: url(../img/wid4.jpg)
}






/* Footer */
footer {
  background-color: #0B0C10;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  padding: 0 25px;
}


.footer-widget {
  background-color: #202833;
  margin-bottom: 50px;
  border-radius: 30px;

  h4 {
  color: white;
  font-size: 2rem;
  margin: .5rem .75rem;
    text-transform: capitalize;
  }
  
  a {
    text-decoration: none;
    font-size: 1.75rem;
    color: #66FCF1;
  }

  a:hover {
    color: $accent-color;
    transition: 400ms;
  }
  
  li {
    list-style-type: none;
  
  }
}


/* Dropdown menu css */
.dropdown-container2 {
  position: relative;
}

.dropdown-content2 {
  position: absolute;
  width: 250px;
  left: 0;
  display: none;
  background-color: #202833;
  transition: 500ms;
  animation: ease-in-out;
  padding: 2rem;


  div {
    display: grid;
    grid-template-columns: 1fr 2fr .5fr;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  span {
    transition: 2000ms;
  }
}


.dropdown-container2:hover .dropdown-content2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  justify-content: start;
  transition: 300ms;
  animation: ease-in;
  bottom: 0;
  left: 70%;;
}


.dropdown-content2 img {
  width: 8rem;
}

.dropdown-content2 a {
  font-size: 1.5rem;
  /* line-height: 200px; */
  text-align: center;
}

.dropdown-items2 a:hover + span{
  background-color: $pink-color;
  margin: 0 10px;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  transition: 800ms;
}

/* drp menu css end */



.footer-form-1 {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-direction: column;


  button {
    margin: 30px 0;
    background-color: #C5C6C8;
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: 1000ms;
    border-radius: 50px;
    padding: 10px 25px;
  }
  
  button:hover {
    background-color: #46A29F;
    transition: 500ms;
  }
  
  input {
    margin: 30px 0;
    width: 20rem;
    text-align: center;
    border-style: solid;
    background-color: #C5C6C8;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    border-radius: 50px;
  }
  
  input:focus {
    background-color: white;
  }
}


